/java/eclipse/.metadata/
/bin/
/.metadata/
/NetBeans/edunova/edunova/nbproject/private/
/NetBeans/edunova/nbproject/private/
/NetBeans/edunova/build/
/NetBeans/edunova/target/
/NetBeans/zavrsni_rad/target/
